@using Domain.Entities
@model List<Advert>
@{
    ViewBag.Title = "Adverts";
}

<div class="row">
    @{
        foreach (var advert in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @*<img src= "" alt="...">*@
                    <div class="caption">
                        <h3 class="@advert.Type">@advert.Price</h3>
                        <p class="@advert.Type">Адрес: @advert.Building.Street, @advert.Building.No</p>
                        <p class="@advert.Type">Комнат: @advert.RoomCount</p>
                        <p class="@advert.Type">Этаж: @advert.Floor/@advert.TotalFloor</p>
                        <p class="@advert.Type">Площадь: @advert.Space</p>
                        <p>
                            <a href="#" class="btn btn-primary @advert.Type" role="button">Button</a> <a href="#" class="btn btn-default @advert.Type" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    
</div>